apiVersion: v1
kind: Namespace
metadata:
  name: probler-collector
  labels:
    name: probler-collector

---

apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: probler-collector
  name: probler-collector
  labels:
    app: probler-collector
spec:
  replicas: 12
  selector:
    matchLabels:
      app: probler-collector
  template:
    metadata:
      labels:
        app: probler-collector
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: probler-collector
                topologyKey: kubernetes.io/hostname
      containers:
        - name: probler-collector
          image: saichler/probler-collector:latest
          imagePullPolicy: Always
          env:
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          volumeMounts:
            - name: hdata
              mountPath: /data
      volumes:
        - name: hdata
          hostPath:
            path: /data
            type: DirectoryOrCreate
